<a href="https://colab.research.google.com/github/randy-tsukemen/Data_science_roadmap/blob/master/shopee01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [253]:
from google.colab import files
uploaded = files.upload()

Saving final (1)(1).csv to final (1)(1).csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [83]:
loan_data = pd.read_csv('order_brush_order.csv')

# Print missing values
print(loan_data.isna().sum())
print(loan_data.info())
print(loan_data.nunique())
print(loan_data.head())

orderid       0
shopid        0
userid        0
event_time    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB
None
orderid       222750
shopid         18770
userid         93883
event_time    121064
dtype: int64
          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [84]:
loan_data['event_time'] = pd.to_datetime(loan_data['event_time'])
loan_data.sort_values(by='event_time', inplace=True)
loan_data.head()

               orderid     shopid     userid          event_time
150060  31075200506751    6042309   97707522 2019-12-27 00:00:00
25985   31075200506752  104804492   97707522 2019-12-27 00:00:00
81020   31075200506753    8715449   97707522 2019-12-27 00:00:00
146598  31075201870570  190969466  170182475 2019-12-27 00:00:02
80355   31075205798264    2859407   12532131 2019-12-27 00:00:05

In [0]:
def get_concentrate_rate(rows_in_hour):
    return len(rows_in_hour) / rows_in_hour.userid.nunique()
def get_brush_users(rows_in_hour):
    user_counts = rows_in_hour.userid.value_counts()
    user  = user_counts[user_counts == user_counts.max()].index
    return user

In [0]:
def cal(x):
    users = []
    for i, v in x.iterrows():
        diff = x['event_time'] - v['event_time']
        rows_in_hour = x[(diff < pd.Timedelta('0 days 01:00:00')) & (diff >= pd.Timedelta('0 days 00:00:00'))]
        # print(get_concentrate_rate(rows_in_hour))
        if get_concentrate_rate(rows_in_hour) >= 3:
            user = get_brush_users(rows_in_hour)
            users.extend(user)
            # print("AAAA", user)
            # print("BBBB", users)
        # print(rows_in_hour)
    users = '&'.join([str(u) for u in np.sort(np.unique(users))])
    # print("CCCCC", users)
    if len(users) == 0: users = '0'
    return users

In [0]:
aa = loan_data.groupby('shopid').apply(cal)

In [0]:
aa.name = 'userid'

In [0]:
aa.to_csv("ss.csv")

In [0]:
kk = pd.read_csv('ss.csv')

In [252]:
kk[kk.userid != '0']

          shopid     userid
40         10402      77819
57         10536     672345
111        42472     740844
114        42818  170385453
129        76934  190449497
...          ...        ...
17401  203531250  114282846
17960  204225676  198662175
18155  208696908  214111334
18557  210197928   52867898
18704  213141071  213646699

[276 rows x 2 columns]